.work {
    /* margin: 0 auto;
    padding: 60px; */
  }
  
  .work h2 {
    /* text-align: right;
    margin: 0 0 0 0;
    padding: 80px 10px 0 0;
    border-right: 3px solid var(--fifth-color);
    font-size: 40px;
    color: var(--fifth-color); */
  }
  
  .main-project {
    /* margin: 0 0 20px 0; */
  }
  
  .main-project a img {
    /* border: 7px solid var(--fourth-color);
    height: 100%;
    width: 100%; */
  }
  
  .grid {
    /* display: grid;
    flex: 1 1 0;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: auto auto; 
    grid-gap: 10px; 
    grid-auto-flow: column; 
    min-width: 350px; */
  }
  .grid a img { 
    /* height: 100%;
    width: 100%;
    border: 7px solid var(--fourth-color); */
  }
  
  .flex {
    /* display: flex; */
  }
  
  .img-header {
    /* position: relative;
    text-align: center;
    color: white; */
  }
  
  .bottom-left {
    /* position: absolute;
    bottom: 8px;
    left: 16px; */
  }