:root {
  --first-color: rgb(82, 82, 82);
  --second-color: #fffdfd;
  --third-color: #ffffff ; 
  --fourth-color: rgb(114, 204, 226);
  --fifth-color: rgb(95, 121, 175);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
  font-family: Helvetica, Arial, sans-serif; 
  background-color: var(--second-color);
  
}

header {
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--first-color);
  z-index: 999999;
}

header h1 {
  color: var(--first-color);
  background-color: var(--fourth-color);
  padding: 10px 10px 10px 100px;
  margin: 10px;
  font-size: 48px;
  font-weight: bold;
  text-shadow: 0 0 1.5px rgba(0, 0, 0, 0.5);
}

header a {
  text-decoration: none;
  color: var(--fourth-color);
}

header nav {
  margin: auto 0;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 7px;
  border-bottom: 4px solid var(--fourth-color);
  margin: 0 30px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 35px;
}

footer h2 {
  text-align: right;
  margin: 0 24px 0 0;
  padding: 0px 10px 0 0;
  font-size: 40px;
  color: var(--fifth-color);
  border-right: 3px solid var(--fifth-color);
}

footer nav {
margin: auto;

}

footer nav ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
} 

footer nav ul li a {
  padding: 7px;
  border-bottom: 4px solid var(--fifth-color);
  margin: 0 30px;
  font-weight: lighter;
  font-size: 1.25vw;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: var(--fifth-color);
}

section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hero {
  background-image: url(../images/header3.jpg);
  background-size:cover;
  background-position:center;
  display: flex ;
  justify-content: center;
  flex-wrap: wrap;
  height: 200px;
  margin-bottom: 30px;
}

.hero h2 {
  margin: auto 20px 20px auto;
  padding: 15px 25px;
  font-size: 38px;
  background-color: var(--first-color);
  color: var(--fourth-color);
  opacity: 0.86;
  font-weight: lighter;
}

.content {
  padding: 60px;
}

.about-me {
  margin-bottom: 50px;
}

.about-me h2 {
  text-align: right;
  margin: 0 auto 0 0;
  padding: 80px 10px 0 0;
  font-size: 40px;
  color: var(--fifth-color);
  border-right: 3px solid var(--fifth-color);
}

.about-me img {
  width: 250px;
  height: 300px;
  border: 5px solid var(--fourth-color);
  margin-top: 20px;
}

.about-me p {
  margin: 0 auto 0 0;
  width: 80%;
  line-height: 1.5;
  font-size: 18px;
  color: var(--first-color);
}



.work h2 {
  text-align: right;
  padding: 80px 10px 0 0;
  font-size: 40px;
  color: var(--fifth-color);
  margin-right: auto;
  border-right: 3px solid var(--fifth-color);
}

.main-app {
  min-height: 100%;
  width: 80%;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.main-app a {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.main-app a img {
  height: 500px;
  width: 100%;
  border: 7px solid var(--fourth-color);
  text-align: center;
}

.grid {
  min-height: 100%;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.grid div {
  display: flex; 
  flex-basis: calc(50% - 40px);  
  justify-content: flex-start;
  flex-direction: column;
}

.grid a {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.grid a img {
  height: 300px;
  width: 100%;
  border: 7px solid var(--fourth-color);
}

.box {
  margin: 10px;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}

.bottom-left {
  position: absolute;
  bottom: 20%;
  left: 0px;
  background-color: var(--fourth-color);
  padding: 4%;
  color: var(--first-color);
  font-size: 16px;
}

@media screen and (max-width: 980px) {
  .content {
    padding: 30px;
  }
  
  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li {
    margin-bottom: 20px;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  footer nav ul li {
    margin-bottom: 25px;
  }

  footer nav ul li a {
    font-size: 20px;
  }

  footer h2, .about-me h2, .work h2 {
    text-align: center;
    margin: 0 auto 10px auto;
    padding: 20px 0 0 0;
    font-size: 30px;
    border-right: 0px;
    border-bottom: 5px solid var(--fifth-color);
  }

  .about-me p {
    text-align: center;
    margin: 0 auto;
    font-size: 18px;
  }

  .main-app {
    margin: 0 auto;
  }

  .main-app a img {
    height: 300px;
  }


  .grid a {
    width: 100%;
  }

  .grid a img {
    height: 200px;
    width: 250px;
  }

}