:root {
  --first-color: rgb(82, 82, 82);
  --second-color: #fffdfd;
  --third-color: #ffffff ; 
  --fourth-color: rgb(114, 204, 226);
  --fifth-color: rgb(95, 121, 175);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
  font-family: Helvetica, Arial, sans-serif; 
  background-color: var(--second-color);
  
}

header {
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: var(--first-color);
  z-index: 999999;
}

header h1 {
  color: var(--first-color);
  background-color: var(--fourth-color);
  padding: 10px 10px 10px 100px;
  margin: 10px;
  font-size: 48px;
  font-weight: bold;
  text-shadow: 0 0 1.5px rgba(0, 0, 0, 0.5);
}

header a {
  text-decoration: none;
  color: var(--fourth-color);
}

header nav {
  margin: auto 0;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

header nav ul li a {
  padding: 7px;
  border-bottom: 4px solid var(--fourth-color);
  margin: 0 30px;
  font-weight: lighter;
  font-size: 1.55vw;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px 35px;
}

footer h2 {
  text-align: right;
  margin: 0 24px 0 0;
  padding: 0px 10px 0 0;
  font-size: 40px;
  color: var(--fifth-color);
  border-right: 3px solid var(--fifth-color);
}

footer nav {
margin: auto;

}

footer nav ul {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
} 

footer nav ul li a {
  padding: 7px;
  border-bottom: 4px solid var(--fifth-color);
  margin: 0 30px;
  font-weight: lighter;
  font-size: 1.25vw;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  color: var(--fifth-color);
}

section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hero {
  background-image: url(../images/header3.jpg);
  background-size:cover;
  background-position:center;
  display: flex ;
  justify-content: center;
  flex-wrap: wrap;
  height: 200px;
  margin-bottom: 30px;
}

.hero h2 {
  margin: auto 20px 20px auto;
  padding: 15px 25px;
  font-size: 38px;
  background-color: var(--first-color);
  color: var(--fourth-color);
  opacity: 0.86;
  font-weight: lighter;
}

.content {
  width: 80%;
  margin: 0 auto;
}

.about-me {
  margin-bottom: 50px;
}

.about-me h2 {
  text-align: right;
  margin: 0 auto 0 0;
  padding: 80px 10px 0 0;
  font-size: 40px;
  color: var(--fifth-color);
  border-right: 3px solid var(--fifth-color);
}

.about-me p {
  margin: 0 auto 0 0;
  width: 80%;
  line-height: 1.5;
  font-size: 18px;
  color: var(--first-color);
}

.work {
  margin: 0 auto;
  padding: 60px;
}

.work h2 {
  text-align: right;
  margin: 0 0 0 0;
  padding: 80px 10px 0 0;
  border-right: 3px solid var(--fifth-color);
  font-size: 40px;
  color: var(--fifth-color);
}

.main-project {
  margin: 0 0 20px 0;
}

.main-project a img {
  border: 7px solid var(--fourth-color);
  height: 100%;
  width: 100%;
}

.grid {
  display: grid;
  flex: 1 1 0;
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: auto auto; 
  grid-gap: 10px; 
  grid-auto-flow: column; 
  min-width: 350px;
}
.grid a img { 
  height: 100%;
  width: 100%;
  border: 7px solid var(--fourth-color);
}

.img-header {
  position: relative;
  text-align: center;
  color: white;
}

.flex {
  display: flex;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  background-color: var(--fourth-color);
  color: var(--fifth-color);
  margin: 0 0 0 0 ;
}

.bottom-left h3 {
  
}

.bottom-left p {
 
}